/ {
    chosen {
        zmk,input-listener = &touch_listener;
    };

    /delete-node/ touch_listener;
};

&i2c0 {
    status = "okay";
    clock-frequency = <100000>;
    
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    /delete-node/ cst816s@15; 

    touch_sensor: cst816s@15 {
        /* Changing compatible string to generic forces ZMK to skip strict ID signature checking */
        compatible = "hynitron,cst816s", "generic-touchscreen";
        reg = <0x15>;
        status = "okay";
        irq-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; 
        rst-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;                 
    };
};

/ {
    touch_listener: touch_listener {
        status = "okay";
        compatible = "zmk,input-listener";
        device = <&touch_sensor>;
    };
};
