/ {
    chosen {
        zmk,input-listener = &touch_listener;
    };
};

&i2c0 {
    status = "okay";

    touch_sensor: cst816s@15 {
        compatible = "hynitron,cst816s";
        reg = <0x15>;
        status = "okay";
        /* SWAPPED PIN MAP TO MATCH YOUR WIRING */
        irq-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* D1 is your actual Interrupt */
        rst-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;                  /* D0 is your actual Reset */
    };
};

/ {
    touch_listener: touch_listener {
        status = "okay";
        compatible = "zmk,input-listener";
        device = <&touch_sensor>;
    };
};
